@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Add this CSS to your global styles or inside a <style> block */
@keyframes gradientAnimation {
  0% {
    fill: rgb(24, 61, 40);
  }
  100% {
    fill: rgb(9, 85, 54);
  }
}

.hover\:fill-gradient:hover {
  animation: gradientAnimation 2s ease-in-out infinite;
}

/* SVG  */

@keyframes draw {
  0% {
    stroke-dashoffset: 502; /* Full circle length */
  }
  100% {
    stroke-dashoffset: 0; /* Circle complete */
  }
}
